<h2>Lista de Escuelas y Universidades</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Gmail</th>
            <th>Ubicacion</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let escuela of escuelas">
            <td>{{escuela.id}} </td>
            <td>{{escuela.nombre}} </td>
            <td>{{escuela.email}} </td>
            <td>{{escuela.ubicacion}} </td>
        </tr>
    </tbody>
</table>
